*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.menu{
    display: flex;
    justify-content: flex-start; 
    margin-top: 20px;
    margin-left: 20px;
}

.menu-items li{
    display: inline;
    list-style: none;
    padding-left: 20px;;
}

.page-header{
    text-align: center;
    max-width: 1000px;
    width: 90%;
}

.container{
    display: grid;
    grid-template-rows: 100px auto;
    margin: 2rem auto;
    max-width: 1000px;
    width: 90%;

}
.main-page{
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    width: 90%;
}

.donut-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.donut-count {
 text-align: center;

}

.shop{
    margin-left: 200px;
}
