*{
    margin:0px;
    padding:0px;
}

html{
    background-color:var(--blue);
    color: white;
}

:root{
    --yellow: #FFBE0B;
    --orange: #FB5607;   
    --purple: #8338EC;  
    --blue: #3A86FF;
    --pink: #FF006E;

}

.autoclicker-purchase-button{
    opacity: .45;
}

.donut-multiplier-purchase-button{
    opacity: .45;
}

.ungreybutton{
    opacity: 1;
}

.backdrop{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(0, 0,0, 0.5);  
    z-index: 100;
}

.modal{
    display: none;
    position: fixed;
    z-index: 200;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 50%;
    background: rgba(207, 207, 250, 0.945);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.568);
    padding: 1rem;
}

.modal h1{
    text-align: center;
    color: black;
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.modal-actions{
    display: flex;
    justify-content: flex-end;
}

.modal-actions button{
    font-size: 20px;
    
}
