*{
    margin:0px;
    padding:0px;
}

html{
    background-color:var(--blue);
    color: white;
}

:root{
    --yellow: #FFBE0B;
    --orange: #FB5607;   
    --purple: #8338EC;  
    --blue: #3A86FF;
    --pink: #FF006E;

}

